* {
  margin: 0;
  padding: 0;
}
h1 {
  text-align: center;
}
.calculator-card {
  margin: 0 auto;
  max-width: 350px;
  text-align: center;
  margin-top: 10px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.205);
  transition: o.3;
  font-size: 0;

}
.calculator-card:hover{
    box-shadow: 0px 16px 32px rgba(0, 0, 0, 0.205);
}
.calc-head{
    width: 335px;
    height: 100px;
    font-size: 32px;
}
.result{
    width: 335px;
    height: 100px;
    font-size: 32px;
    font-weight: bold;
    text-align: right;
    padding: 0 5px;
    letter-spacing: 2px;
}
.btn{
    width: 87px;
    height: 70px;
    font: bold;
    font-size: 16px;
    background-color: #1f2326;
    color: white;
}
.btn:hover{
    background-color: pink;
    color: black;
}
.btn-style{
    background-color: rgb(112, 14, 204);
}
.btn-style1{
background-color: orange;
}
